::-webkit-scrollbar
{
    width: 5px;
}
::-webkit-scrollbar-track
{
    background: #000;
}
::-webkit-scrollbar-thumb
{
    background: white;
}
::-webkit-scrollbar-thumb:hover
{
    background: #006599;
}